<!doctype html>
<html>
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>{{ title }}</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <style>
        html                    { overflow-y:scroll; }
/*         body                    { padding-top:50px; } */
    </style>

    <!-- SPELLS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script><!-- load angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular-route.js"></script><!-- load angular -->
    <script src="js/core.js"></script>
    <!-- script src="nodesCtrl.js"></script>
    <script src="psCtrl.js"></script>
    <script src="usersCtrl.js"></script -->
</head>
<body ng-app="rprjApp" ng-controller="mainCtrl">

<div class="container-fluid">

    <div id="header" class="row">
        <div class="col-12">
            <div id="logo">
                <h1>:: R-Project ::</h1>
                <h3>:: Project and Time Tracking Management System ::</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <nav id="top_menu" class="col-12 navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="main.php?obj_id={{ root_obj[0] }}">{{ root_obj[1] }}</a></li>
                    <li class="nav-item" ng-repeat="menu_item in menu_top"><a href="main.php?obj_id={{ menu_item[0] }}">{{ menu_item[1] }}</a></li>
                    <li ng-if="myuser" class="nav-item"><a href="mng/gestione.php">Manage</a></li>
                </ul>
            </div>
            <div id="user_div" class="dropdown"><a ng-if="!myuser" href="mng/login.php?obj_id=-10">Login</a><b ng-if="myuser">User:&nbsp;{{ myuser.fullname }}</b><a ng-if="myuser" href="logout_do.php">Logout</a></div>
            <form name="" action="main.php" class="form-inline "><input type="search" aria-label="Search" id="search_object" name="search_object" type="text" /></form>
        </nav>
    </div>
    <div class="row">
        <div class="col-2">
            <table class="menu" align="center" width="100%">
                <tr><th class="menu"><a href="main.php?obj_id={{ root_obj[0] }}">{{ root_obj[1] }}</a></th></tr>
            </table>
            <table class="menu" align="center" width="100%">
            </table>
        </div>
        <div class="middle_content col-10">
            <div class="row">
                <div class="r_breadcrumb col-11">
                    <ul class="r_breadcrumb"><li ng-repeat="breadcrumb in parent_list" class="r_breadcrumb"><span ng-if="!$first"> &gt; </span><a  class="r_breadcrumb" href="main.php?obj_id={{ breadcrumb.id }}">{{ breadcrumb.name }}</a></li></ul>
                </div>
                <div class="r_breadcrumb col-sm-1"><div id="r_breadcrumb_after"></div></div>
            </div>
            <div class="row">
                aaa
            </div>
        </div>
    </div>
    <div class="row">
        <div id="footer" class="col-12"><div class="copyright"><b>&copy; 2020 by <a href="main.php?obj_id={{ root_obj[0] }}">Roberto Rocco-Angeloni</a> - All rights reserved. - Powered by <a href="https://sourceforge.net/projects/jrproject/">R-Project</a>.</b></div></div>
    </div>
</div>

</body>
</html>
