body {
  background-color: #eff3f6;
  color: #333;
  font-family: UbuntuRegular,Helvetica,Arial,sans-serif;
  font-size: 85%;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: #666666;
}
a:active { color: #888888; }
a:visited {
  text-decoration: none;
  color: #444444;
}
a:hover { color: #000000; }

form { margin: 0; }

h1,h2,h3 {
  color: rgba(0,0,0,0.8);
  margin:0;
}
h1 {
  font-weight: bold;
  font-size: 2.0em;
}
h3 {
}

hr {
  border: 1px solid rgba(0,0,0,0.2);
  /*  padding: 1px; */
  /*  border-radius: 2px; -webkit-border-radius: 2px; */
}

/* ********************************* Classi ********************************* */

.messaggio {
  margin: 10px;
  padding: 10px;
  border: 1px solid #AA4400;
  background-color: #FFFFAA;
  color: #AA4400;
  width: 70%;
}
.page {
  border-collapse: collapse;
  width: 99%;
  height: 99%;
}
.page_top {
  height: 15%;
  text-align: center;
  vertical-align: middle;
}
.page_left {
  width: 20%;
  text-align: left;
  vertical-align: top;
}
.page_center {}
.page_right {
  width: 20%;
  text-align: left;
  vertical-align: top;
}
.page_bottom {
  height: 5%;
  text-align: center;
  vertical-align: middle;
}

/*table.elenco {
  background-color: rgba(0,0,0,0.1);
}
th.elenco {
 border: 1px solid rgba(0,0,0,0.1);
 background-color: rgba(0,0,0,0.1);
}*/
.elenco {
  /*     font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; */
}
table.elenco {
  border: 0 solid #ffffff;
  width: 650px;
  padding: 0;
  border-spacing: 0;
}
th.elenco {
  border: 1px solid #dddddd;
  /*     color: #444444; */
  background-color: #dddddd;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
}
td.elenco {
  /*     color: #555555; */
  font-size: 12px;
  font-weight: normal;
  padding: 10px;
  border: 1px solid #dddddd;
}
a.elenco {
  font-weight: bold;
  /*     color: #555555; */
  text-decoration: none;
}

hr.amiga {
  margin:0;
  border:0;
  padding: 1px;
  background: linear-gradient(to right, #ff0000,#ffff00,#00ff00,#00ffff,#0000ff);
  /*     background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
}

form.search {}
label.search {
  color: #444444;
  /*  background-color: #9FA3A6; */
  /*  font-size: 12px; */
  font-weight: bold;
  /*     border-radius: 4px; -webkit-border-radius: 4px; */
}
input.search {
  background-color:#aaaaaa;
  border:0 solid black;
  border-radius: 4px;
  padding:2px 5px;
  /* border-radius: 8px; -webkit-border-radius: 8px;
   padding:4px;*/
  padding-right: 20px;
  /*background-image:url('icons/glass.png');
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-position:right center;*/
}

/* ********************************* Elementi ********************************* */

#left {
  position: absolute;
  top: 8em;
  bottom: 3em;
  left: 0;
  width: 14em;
  /* background-color: #fefefe;*/
  /* CSS3 */
  /*  opacity:0.9; filter:alpha(opacity=90); -moz-opacity:0.9; */
}
#left_content {
  width:100%;
  overflow:auto;
  position:absolute;
  top:2em;
  bottom:2px;
}
#middle, #middle_noright {
  position: absolute;
  top: 8em;
  bottom: 3em;
  left: 14em;
  right: 14em;
  /*  background-color: #fefefe; */
  /* CSS3 */
  /*  opacity:0.9; filter:alpha(opacity=90); -moz-opacity:0.9; */
}
#middle_noright { right: 0; }
#r_breadcrumb_after {
  float:right;
  /* position:absolute;
   top:2px;
   right:0.5em;*/
}
#right {
  position: absolute;
  top: 8em;
  bottom: 3em;
  right: 0;
  width: 14em;
  /*  background-color: #fefefe; */
  /* CSS3 */
  /*  opacity:0.9; filter:alpha(opacity=90); -moz-opacity:0.9; */
}


#underconstruction {
  color: black;
  background-color: yellow;
  font-weight: bold;
  margin-top: 6em;
  margin-left: 12em;
  margin-right: auto;
  margin-bottom: 8em;
  text-align: center;
  width: 30em;
  border: 6px solid black;
  border-radius: 8px; -webkit-border-radius: 8px;
  transform: rotate(-20deg); -webkit-transform: rotate(-20deg); -o-transform: rotate(-20deg); -moz-transform: rotate(-20deg);
  box-shadow: 10px 10px 10px #666666; -webkit-box-shadow: 10px 10px 10px #666666;
}
#underconstruction h1 {
  text-shadow: none;
  color:black;
}


/* ********************************* Media Queries ********************************* */

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 960px) {
  /* iPod Horizontal */
  #left {
  }
  #left_content {
  }
  #middle, #middle_noright {
  }
  #middle_noright { right: 0; }
  #r_breadcrumb_after {
  }
  #right {
  }
}
@media screen and (max-width: 768px) {
  /* Mobile devices */
  h1 h2 {
    font-size:initial;
  }
  h3 {
    font-size:1.5em;
  }

  #left {
    position: static;
    float:none;
    width:auto;
  }
  #left_content {
    position:static;
  }
  #middle, #middle_noright {
    position: static;
    float:none;
  }
  #middle_noright {}
  #r_breadcrumb_after {
    position:static;
  }
  #right {
    position: static;
    float:none;
    width:auto;
  }
}
@media screen and (max-width: 640px) {
  /* iPod Vertical */

}
@media screen and (max-width: 480px) {
  /* Samsung GT-I8262 */
}

@media screen and (min-width: 320px) {
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 600px) { /* greater than iphone mobile*/
}
@media screen and (min-width: 768px) {  /* Large Size and up*/
}
