:host {
  width: 100%;
  display: flex;
}

.login { padding: 2px; }
.login-center { text-align: center; }
.login-right { text-align: right; }
table.login {
  background-color: rgba(0,0,0,0.25);
  /*  border: 2px; */
  border-radius: 8px; -webkit-border-radius: 8px;
  border-spacing:8px;
  padding:8px;
  margin-left: auto;
  margin-right: auto;
}
th.login {
  color: #111122;
  /*  background-color: #aaaaaa; */
  background-color: rgba(255,255,255,0.4);
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px 8px 0 0; -webkit-border-radius: 8px 8px 0 0;
  margin:2px;
  padding:4px 8px;
}
td.login {
  color: #eeeeee;
  /*  background-color: rgba(255,255,255,0.8); */
  font-size: 12px;
  font-weight: normal;
  margin:2px;
  padding:4px 8px;
}
input.login {
  background-color:#aaaaaa;
  border:0 solid black;
  border-radius: 4px;
  padding:2px 5px;
}
input.login:hover {
  background-color:#dddddd;
}

#loginForm {
  /* position: absolute;
   top: 15em;
   bottom: 5em;
   left: 17em;
   right: 17em;*/
  padding-top:5em;
  padding-bottom:10em;
}

/* ********************************* Media Queries ********************************* */

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 960px) {
  #loginForm {
    position: absolute;
    top: 8em;
    bottom: 3em;
    left: 14em;
    right: 14em;
  }
}
@media screen and (max-width: 768px) {
  #loginForm {
    position: static;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@media screen and (max-width: 640px) {
  /* iPod Vertical */
}
@media screen and (max-width: 480px) {
  /* Samsung GT-I8262 */
}
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 600px) { /* greater than iphone mobile*/
}
@media screen and (min-width: 768px) {  /* Large Size and up*/
}
