<div class="col-12">
  <div id="loginForm">
    <form (ngSubmit)="onSubmit()" #loginComponent="ngForm">
      <table class="login">
        <tr><th class="login" colspan="2">Login</th></tr>
        <tr>
          <td class="login login-right"><label for="field_login">Login</label></td>
          <td class="login"><input [(ngModel)]="model.login" class="login" type="text" id="field_login" name="field_login"></td>
        </tr>
        <tr>
          <td class="login login-right"><label for="field_pwd">Password</label></td>
          <td class="login"><input [(ngModel)]="model.pwd" class="login" type="password" id="field_pwd" name="field_pwd"></td>
        </tr>
        <tr>
          <td class="login login-center" colspan="2"><button class="login" type="submit" name="submit">Login</button></td>
        </tr>
      </table>
    </form>
  </div>
</div>
