<div class="col-12">
  <div id="loginForm">
    <form>
      <table class="login">
        <tr><th class="login" colspan="2">Login</th></tr>
        <tr>
          <td class="login login-right"><label for="field_login">Login</label></td><td class="login"><input class="login" type="text" id="field_login" name="field_login"></td>
        </tr>
        <tr>
          <td class="login login-right"><label for="field_pwd">Password</label></td><td class="login"><input class="login" type="password" id="field_pwd" name="field_pwd"></td>
        </tr>
        <tr>
          <td class="login login-center" colspan="2"><input class="login" type="submit" name="submit" value="Login"></td>
        </tr>
      </table>
    </form>
  </div>
</div>
