:host {
  width: 100%;
  display: flex;
}

table.menu {
  color:#666666;
}
th.menu {
  font-size: 12px;
  font-weight: bold;
  margin: 0.1em;
  border: 0;
  padding: 0.4em 1em;
}
td.menu {
  font-size: 12px;
  font-weight: normal;
}
input.menu {
  color: #eeeeee;
  border: 1px solid #9FA3A6;
}

div.r_breadcrumb {
  padding:0;
}
ul.r_breadcrumb {
  list-style-type: none;
  display: block;
  background-color: rgba(0,0,0,0.1);
  margin: 0.1em;
  border: 0;
  border-radius: 4px; -webkit-border-radius: 4px;
  padding: 0.4em 1em;
}
li.r_breadcrumb, a.r_breadcrumb:link, a.r_breadcrumb:active, a.r_breadcrumb:visited, a.r_breadcrumb:hover {
  display: inline;
  font-size: 12px;
  font-weight: bold;
}

div.middle_content {
  /*  padding:0; */

  /* overflow:auto;
   border:0 solid red;
   position:absolute;
   top:2em;
   left:0.1em;
   right:0.1em;
   bottom:4px;*/
  /*  background-color: rgba(0,0,0,0.1); */
}

div.content_list {
  margin: 0.4em;
  padding: 8px; /*0.4em;*/
  background-color: rgba(0,0,0,0.1);
  border-radius: 8px; -webkit-border-radius: 8px;

  /* position:absolute;
   left:0em;
   width:60em;
   margin:0 auto;*/
}
div.content_item {
  vertical-align:text-top;
  font-size: 12px;
}
p.content_item {
  font-size: 10px;
  margin: 0.1em;
  border: 0;
  padding: 0.1em;
}

ul.obj_actions {
  display:inline;
  list-style-position: inside;
  text-align: left;
  margin: 0.1em;
}
li.obj_actions {
  display:block;
  font-size: 12px;
  font-weight: bold;
}


/* ********************************* Media Queries ********************************* */
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 960px) {
}
@media screen and (max-width: 768px) {
  div.r_breadcrumb {
    /*
     background-color: rgba(0,0,0,0.1);
     */
    /*  background-image: linear-gradient(to top, #f0f0f0, #f4f4f4); */
  }

  table.menu {
    display:none;
  }

  div.middle_content {
    position:static;
    padding:4px;
  }

  div.content_list {
    margin:0;
    border-radius:0;
  }

  div.obj_actions {
  }
  ul.obj_actions {
  }
  li.obj_actions {
    /*  text-align:center; */
  }

}

@media screen and (max-width: 640px) {
  /* iPod Vertical */
}
@media screen and (max-width: 480px) {
  /* Samsung GT-I8262 */
}
@media screen and (min-width: 320px) {
}
@media screen and (min-width: 480px) {
}
@media screen and (min-width: 600px) { /* greater than iphone mobile*/
}
@media screen and (min-width: 768px) {  /* Large Size and up*/
}
